/* Tablet */
@media screen and (max-width: 991px) {
    /* Packages  */
    .package__btn .poBtn {
        font-size: 1rem;
    }
    /* video  */
    .video__title .title-l {
        font-size: 2.1rem;
    }
       
}

/* Small Tablet */
@media screen and (max-width: 767px) {
    /* Packages  */
    .packages__content {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 50px auto 0;
        width: 70%;
    }
}

/* Mobile */
@media screen and (max-width: 575px) {
    /* Packages  */
    .packages__content {
        width: 100%;
    }

    .packages__heading .title-l, .testimonials__title .title-l{
    font-size: 32px;
    line-height: 38px;
    }


}