:root {
  --primary-color: #189A46;
  --secondary-color: #f53626;
  --text-gray-color: #696969;
  --text-white-color: #fff;
  --heading-color: #000c04;
  --bg-white-color: #fff;
  --bg-light-color: rgba(147, 107, 232, 0.05);
  --border-color: #ddd;
  --border-light-color: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-widget: #3f3a64;
  --border-radius: 10px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-gray-color);
  background-color: var(--bg-white-color);
  scroll-behavior: smooth;
}

.container-l {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

.container-m {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.container-s {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.container-xs {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title-xs {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heading-color);
}

.title-s {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.title-m {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
}

.title-l {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: var(--heading-color);
}

.read-more {
  display: inline-block;
  font-size: 1.063rem;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.read-more:hover {
  color: var(--primary-color);
}

.poBtn {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: var(--text-white-color);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.btn-blue {
  padding: 0.75rem 2.188rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-blue:hover {
  background-color: #116E32;
  border-color: #116E32
}

.btn-white {
  padding: 0.75rem 2.188rem;
  color: var(--primary-color);
  background-color: var(--bg-white-color);
  border-color: var(--text-white-color);
}

.btn-transparent {
  padding: 0.625rem 2.188rem;
  background-color: transparent;
  border: 2px solid var(--bg-white-color);
}

.btn-transparent:hover {
  color: var(--primary-color);
  background-color: var(--text-white-color);
}


/* Packages  */
.packages {
  background: var(--bg-light-color);
}

.packages__heading {
  text-align: center;
}

.packages__heading h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.packages__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.package__item {
  padding: 3.5em 2.5em;
  background: var(--bg-white-color);
  border-radius: 6px;
  align-self: center;
}

.package__item.active {
  padding: 0;
}

.package__item h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: #000c04;
}

.package__item h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

.package__item label {
  font-size: 25px;
  vertical-align: text-top;
}

.package__item span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.package__bottom p {
  margin-bottom: 5px;
  color: #304659;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
  text-align: center;
}

.package__btn {
  margin-top: 50px;
  text-align: center;
}

/* .btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  color: #fff;
  background-color: #189A46;
  border-color: transparent;
  text-align: center;
  margin-top: 2em;
} */

.btn-blue:hover {
  color: #fff;
}

.package__item.active {
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  position: relative;
}

.package__item.active .package__top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.package__item.active .package__bottom {
  padding: 2em 2.5em 3.5em;
}


.package__item.active .package__top h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);

}

.package__item.active .package__top h3,
.package__item.active .package__top h4,
.package__item.active .package__top span {
  color: #fff;
}

